<template>
    <div>
        
        <!-- Formulario de editar nota         El condicional que comprueba el formulario a mostrar-->
        <form @submit.prevent="editarNota(nota)" v-if="editarActivo">
            <h3>Editar Nota</h3>
            <!--campos que hay que rellenar -->
            <input type="text" placeholder="Nombre"
                class="form-control mb-2" v-model="nota.nombre">
                                        <!-- el v-model hace referencia a la Data-->
            <input type="text" placeholder="Descripción"
                class="form-control mb-2" v-model="nota.descripcion">
            <!-- botón con funcion de guardar (por defecto)-->
                <button class="btn btn-success" type="submit">Guardar</button>
            <!--boton con función específica dentro de Methods (@click="") -->
                <button class="btn btn-warning" type="submit"
                @click="cancelarEdicion()">Cancelar</button>
        </form>

        <!--Formulario que agrega nota      El condicional que comprueba el formulario a mostrar-->
        <form @submit.prevent="agregar" v-else>
            <h3>Agregar Notas</h3>
            <!-- Campos a rellenar -->
            <input type="text" placeholder="Nombre"
                class="form-control mb-2" v-model="nota.nombre">
            <input type="text" placeholder="Descripción"
                class="form-control mb-2" v-model="nota.descripcion">
            <!--botón con la funcion de guardar (por defecto) -->
                <button class="btn btn-primary" type="submit">Agregar</button>
        </form>

        <!-- Lista de notas  -->
        <hr class="mt-3">
        <h3>Listado de notas</h3>
        <ul class="list-group my-2">
            <!-- Recreamos un recorrido en el Array de notas (Notas:[]) con el v-for -->
            <li class="list-group-item" v-for="(item,index) in notas" :key="index">
                <!-- añadimos un campo que muestra el (Updated at) , valor de la tablad e la base de datos -->
                <span class="badge badge-info float-right">
                    {{item.updated_at}}
                </span>
                <!-- Mostramos los atributos de las notas-->
                <p>{{item.nombre}}</p>
                <p>{{item.descripcion}}</p>
                
                <!-- dos botones que alteran el formulario recogiendo informacion-->
                <button class="btn btn-success btn-sm"
                @click="editarFormulario(item)">Editar</button>
                <!-- Este en concreto llama a la funcion delete del controller-->
                <button class="btn btn-danger btn-sm"
                @click="eliminarNota(item,index)">Eliminar</button>

            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data(){
        return{
            //tenemos un array de notas
            notas:[],
            //con estos campos
            nota:{nombre:'',descripcion:''},
            //booleana que determina el formulario a mostrar con el v-if(condicion)
            editarActivo:false           
        }
    },
    created(){
        axios.get('/notas')
        .then(res=>{
            this.notas = res.data;
        })
    },
    methods:{
        agregar(){
            //validacion cmapo vacío
            if(this.nota.nombre.trim() ==='' ||
               this.nota.descripcion.trim()===''){
                   alert("Debes completar todos los campos antes de guardar.");
                   return;
            }

            //Testing
            //console.log(this.nota.nombre,this.nota.descripcion);
            
            //Guardamos parametros
            const params={
                nombre: this.nota.nombre,
                descripcion: this.nota.descripcion
            }
            //dejamos los campos vacíos para la siguiente nota a gruardar
            this.nota.nombre='';
            this.nota.descripcion='';
            //posteamos los datos
            axios.post('/notas',params)
                .then(res=>{
                    this.notas.push(res.data) //lo añadimos a las notas del user.
                })
        },
        editarFormulario(item){
            //activamos una booleana para saber que estamos editando
            // y poder alternar el formulario principal y sus respectivas funciones
           this.editarActivo = true;
           //recogemos los datos y los pintamos en el formulario
           this.nota.nombre= item.nombre;
           this.nota.descripcion= item.descripcion;
           //tambien recogemos el id de la nota para poder guardar los datos en esa nota concreta.
           this.nota.id=item.id;
        },
        editarNota(item){
            //recogemos los datos
            const params={
                nombre: item.nombre,
                descripcion:item.descripcion,
            };
            //añadimos la nota modificada en el id correspondiente
            axios.put(`/notas/${item.id}`,params)
                .then(res=>{
                    //cambiamos formilario
                    this.editarActivo=false;
                    //recogemos el id que coincida con la nota seleccionada
                    const index=this.notas.findIndex(
                        notaBuscar=>notaBuscar.id===res.data.id)

                    this.notas[index]=res.data;
                    //limpiamos los campos
                    this.nota={nombre:'',descripcion:''}
                        //actualizamos notas
                        axios.get('/notas')
                            .then(res=>{
                                this.notas = res.data;
                            })
                })
        },
        cancelarEdicion(){
            //alternamos formulario
            this.editarActivo=false;
            //limpiamos campos
            this.nota={nombre:'',descripcion:''}
        },
        eliminarNota(item,index){
            //llamamos a la funcion del controller.
            axios.delete(`/notas/${item.id}`)
                .then(()=>{
                    //eliminamos la nota del front
                    this.notas.splice(index,1);
                })
        }
    }

}
</script>